.blockchain-research-paragraph, .web3-developer-paragraph, .policy-paragraph{
    width: 678px;
    height: 94px;
    background-color: white;
    margin-top: 28px;
    font-size: 28px;
    color: #027808;
    font-weight: 600;
    padding: 30px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 0 5px #82a584;
}

.applied-blockchain-paragraph{
    width: 678px;
    height: 94px;
    background-color: white;
    margin-top: 28px;
    font-size: 28px;
    color: #027808;
    font-weight: 600;
    padding: 30px 37px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 0 5px #82a584;
}

.education-headline-text{
    text-align: center;
    font-size: 48px;
    color: #027808;
    margin-top: 42px;
}

.spent-academy-text{
    text-align: center;
    margin-top: 32px;
    font-size: 20px
}

.Program-text{
    margin-top: 28px;
    font-size: 28px;
    text-align: center;
}

@media(max-width:840px){
    .education-headline-text{
        font-size: 35px; 
        margin-top: -40px; 
    }

    .spent-academy-text{
        font-size: 16px;
        padding: 20px;
        margin-top: 10px;
    }

    .Program-text{
        font-size: 24px;
    }

     .blockchain-research-paragraph,
     .web3-developer-paragraph,
     .policy-paragraph,
     .applied-blockchain-paragraph{
        font-size: 18px;
        width: 90%;
        height: 10%;
        padding: 30px 30px;
    }
    }