.blockchain{
    width: 72px;
    height: 70px;
}

.data,
.marketing,
.web3,
.AI,
.policy{
    width: 70px;
    height: 70px;
}

.blockchain-sub-container,
.data-sub-container,
.marketing-sub-container,
.web3-sub-container,
.AI-sub-container,
.policy-sub-container {
    display: flex;
    justify-content: space-around;
}

.container1, .container2{
    display: flex;
    gap: 90px;
}

.container2{
    margin-top: 100px;
}

.container1{
    margin-top: 64px;
}

.AI-container p{
    font-size: 20px;
}

.Blockchain-container{
    background-color: #027808;
    padding: 16px;
    color: white;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.data-container{
    background-color: #FF4800;
    padding: 16px;
    color: white;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.marketing-container{
    background-color: transparent;
    border: 1px solid #027808;
    padding: 16px;
    color: black;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.container1{
    margin-left: 130px;
    margin-right: 130px;
}

.container2{
    margin-left: 130px;
    margin-right: 130px;
}

.web3-container{
    background-color: black;
    padding: 16px;
    color: white;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.AI-container{
    background-color: white;
    padding: 16px;
    color: black;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.policy-container{
    background-color: #027808;
    padding: 16px;
    color: white;
    width: 337px;
    height: 205px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgb(112, 111, 111);
}

.main-container h1{
    text-align: center;
    margin-top: 155px;
}

.sub-heading{
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
}

