.newsletter-headline{
    text-align: center;
    position: relative;
    bottom: 342px;
    font-size: 40px;
    justify-content: center;
}

.newsletter-sub-headline{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    bottom: 310px;
}

form .inputbox .inputtext input{
    height: 45px;
    width: 100%;
}

form{
    position: relative;
    bottom: 260px;
    margin-left: 148px;
    margin-right: 148px;
}

input{
    width: 1144px;
    height: 74px;
    padding: 10px;
    border-radius: 8px;
}

.inputbox{
    margin-top: 32px;
    padding: 10px; 
    font-size: 20px; 
} 

select{
    width: 1144px;
    height: 74px;
    padding: 10px;
    border-radius: 8px;
}

.inputtext{
    font-size: 20px;
}

.subscribe-CTA-button{
    background-color: #027808;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 678px;
    height: 72px;
    gap: 8px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-left: 381px;
    margin-right: 381px;
    position: relative;
    bottom: 150px;
}

.directional-right-arrow{
    width: 24px;
    height: 24px;
    position: relative;
}


