.arrow1{
    width: 24px;
    height: 24px;
    position: relative;
    color: black;
}

.container-main{
    display: flex;
    gap: 126px;
    position: relative;
}

.image1{
    width: 677px;
    height: 435px;
    left: 30px;
}

.collaborate-main-container{
   background-color: #027808;
   height: 625px;
   position: relative;
   bottom: 500px;
}

.image2{
    width: 409px;
    height: 258px;
    position: relative;
    bottom: 150px;
    left: 200px;
}

.collaborate-container{
    display: flex;
    justify-content: space-around;
}

.partner-text{
    color: white;
    font-size: 20px;
    margin-top: 135px;
}

.collaborate-headline-text{
    position: relative;
    top: 101px;
    margin-left: 116px;
    font-size: 48px;
    color: #FF725E;
}

.partner-button{
    width: 422px;
    height: 71px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 170px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.rightdirectionalarrow{
    width: 32px;
    height: 32px;
}