.arrow1{
    width: 24px;
    height: 24px;
    position: relative;
    color: black;
}

.container-main{
    display: flex;
    gap: 126px;
    position: relative;
}

.image1{
    width: 677px;
    height: 435px;
    left: 30px;
}

.collaborate-main-container{
   background-color: #027808;
   height: 625px;
   position: relative;
   bottom: 500px;
}

.image2{
    width: 409px;
    height: 258px;
    position: relative;
    bottom: 150px;
    left: 200px;
}

.collaborate-container{
    display: flex;
    justify-content: space-around;
}

.partner-text{
    color: white;
    font-size: 20px;
    margin-top: 135px;
}

.collaborate-headline-text{
    position: relative;
    top: 101px;
    margin-left: 116px;
    font-size: 48px;
    color: #FF725E;
}

.partner-button{
    width: 422px;
    height: 71px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 170px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.rightdirectionalarrow{
    width: 32px;
    height: 32px;
}

@media(max-width:840px){
    .collaborate-container{
        flex-direction: column;
    }

    .collaborate-container{
        height: 650px;
        padding: 30px 30px;
    }

    .collaborate-main-container{
        height: 800px;
        margin-top: -190px;

    }
     .collaborate-headline-text{
        text-align: center;
        position: relative;
        top: 30px;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 35px;
    }
    
    .partner-text{
        font-size: 16px;
        text-align: center;
        position: relative;
        bottom: 90px;
    }

    .partner-button{
        position: relative;
        bottom: 230px;
        max-width: 330px;
    }

    .image1{
        width: 98%;
        height: 250px;
        position: relative;
        bottom: 120px;
        margin-inline: -30px;
    }

    .image2{
        width: 75%;
        height: 150px;
        position: relative;
        right: 10px;
        margin-left: -155px;
        margin-right: 20px;
        bottom: 210px;
    }
}     