nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0px 8px 8px rgb(207, 204, 204);
    height: 101px;
    padding-block: 25px;
    background-color: white;
    position: fixed;
}

.logo{
    width: 177px;
    height: 49px;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
}

.btn{
    width: 317px;
    height: 44px;
    fill: none;
    border: 2px solid #027808;
    border-radius: 8px;
    background-color: transparent;
    color: #027808;
    font-size: 20px;
    
}

