*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #FAF9F6;
  overflow-x: hidden;
}

@media(max-width:1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}